<!DOCTYPE html>
<html>
<head>
	<title>Home</title>
	<meta charset="utf-8">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" >
	<style type="text/css">
		.container {
			margin-top: 70px;
		}
		img{
			width: 100%;
			height: auto;
		}
		h2{
			padding-top: 50px;
		}
		p{
			font-size: 17px!important;
		}
	</style>
</head>
<body>

  {% include "nav.html" %}
<div class="container">
	<div class="row">
	 <div class="col-sm-6 ">
{% load static %}
<img src="{% static './home.png' %}" alt="My image">
  </div>
		<div class="col"-sm-6>
			<h2>Welcome To DocMed</h2>
			<p class="lead">DocApp is a comprehensive hospital management system designed to streamline and optimize the administrative and clinical operations of healthcare institutions. It offers a user-friendly interface for managing patient records, appointments, billing, and inventory, all in one centralized platform. With advanced features like electronic medical records (EMR), doctor scheduling, and automated reporting, DocApp enhances both patient care and operational efficiency. It also ensures data security and compliance with healthcare regulations, making it an essential tool for modern hospitals looking to improve workflow, reduce errors, and provide better patient experiences.<br><br> By continuously integrating feedback from healthcare professionals, DocApp has grown into a robust solution that enhances patient care and operational efficiency, while ensuring compliance with modern healthcare standards.
.</p>		</div>

	</div>
</div>







<!--JS Library -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" ></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" ></script>
</body>
</html>